body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  padding-top: 61px;
  background-color: #fdf6e3;
}
footer {
  padding: 0px 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-inverse {
  background-color: #b58900;
  border-color: #cf9c00;
}
.jumbotron,
.panel {
  background-color: #eee8d5;
}
.panel-primary,
.panel-primary>.panel-heading {
  border-color: #d33682;
}
.panel-primary>.panel-heading {
  background-color: #d33682;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
