doctype html
html
	head
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
		link(href="/vendor/toastr/toastr.min.css", rel="stylesheet")
		link(href="/css/site.css", rel="stylesheet")
	body
		block main-content
		include scripts