script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
script(src="/vendor/toastr/toastr.min.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-resource/angular-resource.js")
script(src="/vendor/angular-route/angular-route.js")
script(src="/app/app.js")
script(src="/app/account/candyAuth.js")
script(src="/app/common/candyNotifier.js")
script(src="/app/account/candyIdentity.js")
script(src="/app/account/candyUser.js")
script(src="/app/main/candyMainCtrl.js")
script(src="/app/admin/candyUserListCtrl.js")
script(src="/app/account/candySignupCtrl.js")
script(src="/app/account/candyProfileCtrl.js")
script(src="/app/account/candyNavBarLoginCtrl.js")
